<!DOCTYPE html> 
<html> 
    <head>
        <title>hapus akun</title>
    </head>
	<body> 
        <a href="/akun">Kembali</a>

        <h1>hapus akun: </h1>

        <form action="" method="POST">

            <label>id :</label>
            <input name="id" type="text" />
            <br>

            <button>Hapus</button>

        </form>
	</body> 
</html> 