<!DOCTYPE html> 
<html> 
    <head>
        <title>Menambah Data Barang</title>
    </head>
	<body> 
        <a href="/">Kembali</a>

        <h1>Input Barang : </h1>

        <form action="" method="POST">

            <label>Kode :</label>
            <input name="kode_barang" type="text" />
            <br>

            <label>Nama :</label>
            <input name="nama_barang" type="text" />
            <br>

            <label>Harga :</label>
            <input name="harga" type="number" />
            <br>

            <button>Simpan</button>

        </form>
	</body> 
</html> 