<!DOCTYPE html> 
<html> 
    <head>
        <title>Mengurangi Data Barang</title>
    </head>
	<body> 
        <a href="/">Kembali</a>

        <h1>Kurangi Barang : </h1>

        <form action="" method="POST">

            <label>Kode :</label>
            <input name="kode_barang" type="text" />
            <br>

            <button>Hapus</button>

        </form>
	</body> 
</html> 