<!DOCTYPE html> 
<html> 
    <head>
        <title>Menampilkan Data Barang</title>
    </head>
	<body> 

        <button>
            <a href="/tambah">Input Barang</a>
        </button>
        <button>
            <a href="/akun">daftar akun</a>
        </button>
        <br>

        <br>
        <button>
            <a href="/kurangi">Hapus Barang</a>
        </button>

        <h1>Daftar Barang</h1>

        <ol>
            {{#each penjualans}}
            <li>
                <p>
                    {{this.kode_barang}} - {{this.nama_barang}} - {{this.harga}}
                </p>
            </li>
            {{/each}}
        </ol>
        
	</body> 
</html> 
