<!DOCTYPE html> 
<html> 
    <head>
        <title>tambah akun</title>
    </head>
	<body> 
        <a href="/akun">Kembali</a>

        <h1>Input akun : </h1>

        <form action="" method="POST">

            <label>id :</label>
            <input name="id" type="text" />
            <br>

            <label>Nama :</label>
            <input name="nama" type="text" />
            <br>

            <label>jabatan :</label>
            <input name="jabatan" type="text" />
            <br>

            <button>Simpan</button>

        </form>
	</body> 
</html> 