body{
    background: url(background.jpg);
    background-position: center;
    background-size: cover;
    margin: 0 auto;
}
.wrap{
	
	width: 100%;
	margin: 0px;
}
 
/*bagian header*/
.wrap .header{
	background: none;
	/*height: 50px;*/
	padding: 2px 10px;
}

/*warna font*/
.font-atas{
    color: whitesmoke;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: left;
}
.font-atas1{
    color: whitesmoke;
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: left;
    font-family: "Sofia";
}

/*akhir header*/
 
/*bagian menu*/
.wrap .menu{
	background: none;
}
/* 'hover' untuk mengubah warna font ketika disentuh*/
.font-menu{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px 5px rgb(44, 43, 43);
}
.font-menu:hover{
    color: rgb(3, 3, 3);
    transition: 0.3s;
} 


.wrap .menu ul{
	padding: 0;
	margin: 0;
    height: 40px;
}

.wrap .menu ul li:hover{
    background-color: rgba(192, 189, 192, 0.473);
    transition: 0.2s;
    border-radius: 16px;
}
.wrap .menu ul li{
	float: left;
	list-style-type: none;
	padding: 10px;
}
/*akhir menu*/
 
.clear{
	clear: both;
}
 
.badan{
	height: 450px;
}
/*bagian content*/
.wrap .badan .content1{
	background: url(gaming.jpg);
    background-position: center;
    background-size: cover;
	float: left;	
	width: 23%;
	height: 100%;
    border-radius: 15%;
    margin: 0px 10px 0px 10px;
}
 
.wrap .badan .content2{
	background: url(swimming.jpg);
    background-position: center;
    background-size: cover;
	float: left;
	height: 100%;
	width: 23%;
    border-radius: 15%;
    margin: 0px 10px 0px 10px;
}

.wrap .badan .content3{
	background: url(pet1.jpg);
    background-position: center;
    background-size: cover;
	float: left;
	height: 100%;
	width: 23%;
    border-radius: 15%;
    margin: 0px 10px 0px 10px;
}

.wrap .badan .content4{
	background: url(cooking.jpg);
    background-position: center;
    background-size: cover;
	float: left;
	height: 100%;
	width: 23%;
    border-radius: 15%;
    margin: 0px 10px 0px 10px;  	
}

.font-sidebar1{
    text-decoration: none;
    color: rgb(252, 248, 248);
    list-style-type: none;
}

.font-sidebar{
    text-decoration: none;
    color: rgb(3, 3, 3);
    list-style-type: none;
}

.clear{
    background-color: whitesmoke;
    background: transparent;
    margin: 9px;
    font-family: "Sofia";
}

footer{
    background: none;
	width: 100%;
	padding: 9px;
}


.font-content{
    color: gray;
}

