<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Hello, world!</title>
    <style>
        a {
            color: #6f5f5f;
            text-decoration: none;
        }

        a:hover {
            color: red;
        }
    </style>
</head>
<body>
        {{{body}}}
</body>

</html>