<!DOCTYPE html> 
<html> 
	<body> 
        <p>data diri</p>
		<p>nama :{{demo.nama}}</p>
        <p>umur :{{demo.umur}}</p>
		<p>jenis kelamin :{{demo.jenkel}}</p>
		<p>alamat :{{demo.alamat}}</p>

	</body> 
</html> 
